@import '@taiga-ui/core/styles/taiga-ui-local.less';
@import '@taiga-ui/styles/taiga-ui-global';
@import './assets/styles/variables.less';

html,
body {
  height: 100%;
  width: 100%;
  --tui-primary: var(--tui-support-10);
  --tui-secondary: var(--tui-support-14);
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[tuiWrapper][data-appearance='custom'] {
  color: #fff;
  background: var(--tui-primary);

  .wrapper-hover({
    background: var(--tui-secondary);
  });
}
